<div>
    <h2 class="movie-title">{{title}}</h2>
    <p>{{release_date}}</p>
    <p> Starring </p>
    {{#each cast}}
    <p>{{name}} as {{character}}</p>
    {{/each}}
<button class="add-to-watchlist">Add To Watchlist</button>
</div>
